.custom-section .card{
    border: none;
}
ul.nav.navbar-nav li{
    padding-bottom: 10px;
}
ul.nav.navbar-nav li.active a{
    color: #2508a5;
}
.myContainer div {
  width: 100%;
}
.datepicker{ 
    margin-right: 397px  !important}